
<div class="row mt-5">
  <div class="col-md-4 mb-3" *ngFor="let event of events">
    <div class="card text-left">
	    <img class="card-img-top" src="{{event.imagepath}}" alt="Card image cap" style="height:10rem;">
      <div class="card-body">                                                                   <h6 class="card-title">{{event.price}} INR</h6>
	      <h6 class="card-title">{{event.title}}</h6>
	
	      
	      <p class="card-text mb-2">{{event.description}}</p>
      </div>
    </div>
      <button type="button" class="btn btn-success btn-lg btn-block mt-0 mb-1">Add To Cart</button>
      <button type="button" class="btn btn-primary btn-lg btn-block mt-0">Item Details</button>                                                                                </div>                                                                                </div>
